#table {
    width:1280px;
    background-image: url("../assets/img/table.jpeg");
    margin: auto;
    border-style: groove;
    border-color: black;
}

/* Bottom player */

#player-bottom {
    margin: auto;
    height: 175px;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
}

#card-play-bottom {
    z-index: 4;
    position: relative;
    height: 150px;
    margin: auto;
    margin-top: -70px;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 1.25px #000;
}

#player-bottom .timer-hor {
    margin-bottom: 10px;
}

#player-bottom .card-ver:hover {
    margin-top: -20px;
}

#player-bottom .card-ver {
    cursor: pointer;
}

/* Left player */

#player-left {
    margin-left: 30px;
    height: 50%;
    width: 150px;
}

#card-play-left {
    z-index: 1;
    position: relative;
    height: 150px;
    margin: auto;
    margin-left: 70px;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 1.25px #000;
}

#player-left .timer-ver {
    margin-left: 125px;
    margin-top: 150px;
    margin-bottom: -370px;
}

/* Top player */

#player-top {
    margin: auto;
    height: 150px;
    width: 50%;
    margin-top: 10px;
}

#card-play-top {
    z-index: 2;
    position: relative;
    height: 150px;
    margin: auto;
    margin-bottom: -60px;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 1.25px #000;
}

#player-top .timer-hor {
    margin-top: 10px;
}

/* Right player */

#player-right {
    float: right;
    margin-right: 10px;
    margin-top: 90px;
    height: 500px;
    width: 100px;
}

#card-play-right {
    z-index: 2;
    position: relative;
    height: 150px;
    margin: auto;
    margin-left: -90px;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 1.25px #000;
}

#player-right .timer-ver {
    position: absolute;
    margin-left: -60px;
    margin-top: 65px;
    margin-bottom: -370px;
}

/* Timers */

.timer-hor {
    margin: auto;
    width: 300px;
    background-color: grey;
}

.bar-hor {
    width: 0%;
    height: 10px;
    background-color: grey;
}

.timer-ver {
    margin: auto;
    height: 300px;
    width: 10px;
    background-color: grey;
}

.bar-ver {
    height: 0%;
    width: 10px;
    background-color: grey;
}

/* Stack */

#stack {
    margin-top: 47.5%;
}

/* Cards */

.card-ver {
    height: 150px;
    margin-left: -30px;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 1.25px #000;
}

.card-hor {
    height: 150px;
    margin-top: -95px;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 1.25px #000;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
